<div style="display: flex; flex-direction: column; gap: 20px; padding: 20px; justify-content: center; align-items: center">
  <div style="display: flex; flex-direction: column; gap: 20px; width: 400px">
    <mat-form-field>
      <mat-select [(ngModel)]="groupVar">
        <mat-option value="condition">Condition</mat-option>
        <mat-option value="location">Location</mat-option>
        <mat-option value="group">Condition + Location</mat-option>
      </mat-select>
      <mat-label>Group By</mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]="proteinSelected">
        @for (protein of df.getSeries("Entry Name").distinct(); track protein) {
          <mat-option [value]="protein">{{protein}}</mat-option>
        }
        <mat-option value="all">All</mat-option>
      </mat-select>
      <mat-label>
        Protein Selection
      </mat-label>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="confidence">
      <mat-label>Confidence Cutoff</mat-label>
    </mat-form-field>
    <div style="display: flex; gap: 20px">
      <button mat-raised-button (click)="changeDisplay({})">
        Filter
      </button>
      <button mat-icon-button (click)="downloadDisplayToCSV()" aria-label="Download Displaying Data">
        <mat-icon matSuffix>download</mat-icon>
      </button>
    </div>

  </div>


  @if (df.count() > 0) {
    @for (r of displayDataRows; track r["PTM_collapse_key"]) {
      <app-violin-plot [groupBy]="groupVar" [samples]="samples" [data]="r"></app-violin-plot>
    }
  }
</div>

